<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Bar Plot</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
<div>
    <nav>
        <a href="/barPlot/matchedJob">Bar Plot</a> | 
        <a href="/wordCloud/matchedPros">Word Cloud</a> | 
        <a href="/table/negative">Sentiments Table</a> | 
        <a href="/accuracy">Accuracy</a>
    </nav>
</div>
<br/>
<div>
    <nav>
        <a href="/barPlot/matchedJob">Matched Job Bar Plot</a> | 
        <a href="/barPlot/unmatchedJob">Unmatched Job Bar Plot</a> | 
        <a href="/barPlot/matchedYear">Matched Year Bar Plot</a> | 
        <a href="/barPlot/unmatchedYear">Unmatched Year Bar Plot</a>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="bargraph" style="height: 1400px; overflow-y: auto;">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('bargraph',graphs,{});
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>
