<html>
  <head>
    <style>
      h1,
      p {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 100;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center; margin-top: 10vh">Loading the data</h1>
    <!-- The action attribute in the form tag determines what happens after the button submit is clicked-->
    <!-- <form
      action="http://localhost:5000/"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="file" name="file" />
      <input type="submit" />
    </form> -->
    <div
      style="
        width: 100vw;
        height: 100vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      "
    >
      <img
        style="margin: auto; width: 45vw; display: block"
        src="https://cdn.dribbble.com/users/1186261/screenshots/3718681/media/27438516469ad4d494718cb2b9895ca5.gif"
      />
      <p style="color: grey; font-size: 12px; text-align: center">
        https://dribbble.com/shots/3718681-Loading-GIF
      </p>
    </div>
  </body>
</html>
